.container {
    max-width: 720px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #5C6BC0;
    margin-top: 20px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.subtitle {
    color: #5C6BC0;
    margin-top: 10px;
}

.policy {
    margin-bottom: 20px;
}

.decision-entry {
    margin-bottom: 10px;
}

.decision-form button {
    margin-top: 10px;
    background-color: #5C6BC0;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.decision-form button:hover {
    background-color: #3F51B5;
}


.result {
    margin-top: 20px;
}

.max-decisions {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

.copy {
    margin-top: 10px;
    text-align: center;
    color: #999;
    font-size: 12px;
}

@media (max-width: 600px) {
  /* Adjust font size for smaller screens */
  body {
    font-size: 20px;
  }

  /* Adjust width and padding of input fields */
  .decision-input {
    width: 90%;
    padding: 20px;
    font-size: 22px;
  }

  /* Adjust button styles for smaller screens */
  .decision-btn {
    font-size: 24px;
    padding: 20px 36px;
  }
}

